<style>
.input, .taginput .taginput-container.is-focusable, .textarea{
  width: 300px;
  min-width: 300px;
  text-align: left;
}
</style>
<template>
 <b-modal :active.sync="addDoctor" :canCancel="['x', 'outside']" :width='"100%"' :height='"100%"'>
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">{{ editting ? 'Редактирование ' : 'Добавление ' }} Доктора</p>
      </header>
      <section class="modal-card-body">

          <b-field grouped>
            <b-field label="Имя" :message="errors.collect('first_name')" :type="(errors.has('first_name') ? 'is-danger' : '')">
                <b-input
                    type="text"
                    v-model="doctor.first_name"
                    v-validate="'required'" data-vv-name="first_name" data-vv-as="Имя">
                </b-input>
            </b-field>
            <b-field label="Фамилия" :message="errors.collect('last_name')" :type="(errors.has('last_name') ? 'is-danger' : '')">
                <b-input
                    type="text"
                    v-model="doctor.last_name"
                    v-validate="'required'" data-vv-name="last_name" data-vv-as="Фамилия">
                </b-input>
            </b-field>
          </b-field>
          <b-field label="Телефон" :message="errors.collect('phone')" :type="(errors.has('phone') ? 'is-danger' : '')">
              <b-input
                  type="text"
                  v-model="doctor.phone"
                  v-validate="'required'" data-vv-name="phone" data-vv-as="Телефон">
              </b-input>
          </b-field>

          <b-field label="E-Mail" :message="errors.collect('email')" :type="(errors.has('email') ? 'is-danger' : '')">
              <b-input
                  type="email"
                  v-model="doctor.email"
                  v-validate="'email'"
                  data-vv-name="email" data-vv-as="E-Mail">
              </b-input>
          </b-field>

          <b-field label="Адрес" :message="errors.collect('address')" :type="(errors.has('address') ? 'is-danger' : '')">
              <b-input
                  type="text"
                  v-model="doctor.address"
                  data-vv-name="address" data-vv-as="Адрес">
              </b-input>
          </b-field>
          <b-field label="IDNP" :message="errors.collect('idnp')" :type="(errors.has('idnp') ? 'is-danger' : '')">
              <b-input
                  type="text"
                  v-model="doctor.idnp"
                  data-vv-name="idnp" data-vv-as="IDNP">
              </b-input>
          </b-field>

          <b-field label="Комментарий" :message="errors.collect('comment')">
              <b-input
                  type="textarea"
                  v-model="doctor.comment"
                  rows="1"
                  data-vv-name="comment">
              </b-input>
          </b-field>
          <div style="color: red" v-show="status.error" >
               *{{ status.error }}
          </div>
      </section>
      <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeDialog">Закрыть</button>
          <button v-if="!status.loading" class="button is-info" @click="saveDoctor(doctor)" >Сохранить</button>
          <button v-else class="button is-info is-loading" @click="saveDoctor(doctor)" disabled>Сохранить</button>
      </footer>
  </div>
 </b-modal>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  computed: {
    ...mapGetters(
      {doctor: 'doctors/doctor', status: 'doctors/status', editting: 'doctors/editting'}
    ),
    addDoctor: {
      get: function () {
        return this.$store.state.doctors.addDoctor
      },
      set: function (value) {
        this.$store.dispatch('doctors/toggleAddDoctor')
      }
    }
  },
  methods: {
    closeDialog () {
      this.$validator.reset()
      this.$store.dispatch('doctors/toggleAddDoctor')
    },
    async saveDoctor (doctor) {
      await this.$validator.validateAll()
      if (this.$store.state.doctors.editting) {
        if ((!this.errors.any())) {
          this.$store.dispatch('doctors/editDoctor', doctor)
        }
      } else {
        if (!this.errors.any()) {
          this.$store.dispatch('doctors/addDoctor', doctor)
        }
      }
    }
  }
}
</script>
