<style>
.input, .taginput .taginput-container.is-focusable, .textprocedure{
  width: 300px;
  min-width: 300px;
  text-align: left;
}
</style>
<template>
 <b-modal :active.sync="addProcedure" :canCancel="['x', 'outside']" :width='"100%"' :height='"100%"'>
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">{{ editting ? 'Редактирование ' : 'Добавление ' }} Процедуры</p>
      </header>
      <section class="modal-card-body">

          <b-field label="Наименование" :message="errors.collect('name')" :type="(errors.has('name') ? 'is-danger' : '')">
              <b-input
                  type="text"
                  v-model="procedure.name"
                  v-validate="'required'" data-vv-name="name" data-vv-as="Наименование">
              </b-input>
          </b-field>
          <b-field label="Комментарий" :message="errors.collect('comment')">
              <b-input
                  type="textprocedure"
                  v-model="procedure.comment"
                  rows="1"
                  data-vv-name="comment">
              </b-input>
          </b-field>
          <div style="color: red" v-show="status.error" >
               *{{ status.error }}
          </div>
      </section>
      <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeDialog">Закрыть</button>
          <button v-if="!status.loading" class="button is-info" @click="saveProcedure(procedure)" >Сохранить</button>
          <button v-else class="button is-info is-loading" @click="saveProcedure(procedure)" disabled>Сохранить</button>
      </footer>
  </div>
 </b-modal>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  computed: {
    ...mapGetters(
      {procedure: 'procedures/procedure', status: 'procedures/status', editting: 'procedures/editting'}
    ),
    addProcedure: {
      get: function () {
        return this.$store.state.procedures.addProcedure
      },
      set: function (value) {
        this.$store.dispatch('procedures/toggleAddProcedure')
      }
    }
  },
  methods: {
    closeDialog () {
      this.$validator.reset()
      this.$store.dispatch('procedures/toggleAddProcedure')
    },
    async saveProcedure (procedure) {
      await this.$validator.validateAll()
      if (this.$store.state.procedures.editting) {
        if ((!this.errors.any())) {
          this.$store.dispatch('procedures/editProcedure', procedure)
        }
      } else {
        if (!this.errors.any()) {
          this.$store.dispatch('procedures/addProcedure', procedure)
        }
      }
    }
  }
}
</script>
