<template>
 <b-modal :active.sync="addRegistration" :canCancel="['x', 'outside']" :width='"100%"' :height='"100%"'>
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">{{ editting ? 'Редактирование ' : 'Добавление ' }} Регитрацый  </p>
         
      </header>
      <section class="modal-card-body">
        <b-tabs  v-model="activeTab" :width='"100%"' @change="arenda(registration)" >
          <b-tab-item label="Основное">

            <b-field label="Имя" :message="errors.collect('pacient_name')">
                <b-input
                    type="textprocedure"
                    rows="1"
                    v-model="registration.pacient_name"
                    data-vv-name="pacient_name">
                </b-input>
            </b-field>
             <b-field label="Телефон" :message="errors.collect('pacient_phone')">
                <b-input
                    type="textprocedure"
                    rows="1"
                    v-model="registration.pacient_phone"
                    data-vv-name="pacient_phone">
                </b-input>
            </b-field>
         <b-field label="Е-маил" :message="errors.collect('pacient_email')">
                <b-input
                    type="textprocedure"
                    rows="1"
                    v-model="registration.pacient_email"
                    data-vv-name="pacient_email">
                </b-input>
            </b-field>



            <b-field label="Доктор" :message="errors.collect('doctor_id')" :type="(errors.has('doctor_id') ? 'is-danger' : '')" horizontal>
                <button type="button" @click="selectDoctor(registration.doctor_id)" class="button" :class="{ 'is-link': !registration.doctor_id }">
                  <span v-if="registration.doctor_id">{{ registration.doctor_name }} ({{ registration.doctor_phone }})</span>
                  <span v-else>Нажмите, чтобы выбрать Доктора</span>
                </button>
            </b-field>
            <b-field grouped>
              <b-field label="Выберите дату (начало)" :message="errors.collect('start_date')" :type="(errors.has('start_date') ? 'is-danger' : '')">
                <b-datepicker v-model="registration.metadata.start_date"
                    :first-day-of-week="1"
                    :month-names="monthNames"
                     :day-names="dayNames"
                   @click="changedate"
                    placeholder="Нажмите для выбора"
                    icon="calendar"
                    v-validate="'required'" data-vv-name="start_date" data-vv-as="Начало даты"
                    rounded>
                </b-datepicker>
              </b-field>
              <b-field label="Выберите время (начало)" :message="errors.collect('start_time')" :type="(errors.has('start_time') ? 'is-danger' : '')">
                <b-timepicker v-model="registration.metadata.start_time"
                    placeholder="Нажмите для выбора"
                    icon="clock"
                
                    v-validate="'required'" data-vv-name="start_time" data-vv-as="Начало время"
                    rounded>
                </b-timepicker>
              </b-field>
            </b-field>
           

            <b-field label="Процэдура" :message="errors.collect('procedure_id')" :type="(errors.has('procedure_id') ? 'is-danger' : '')" horizontal>
                <button type="button" @click="selectProcedure(registration.procedure_id)" class="button" :class="{ 'is-link': !registration.procedure_id }">
                  <span v-if="registration.procedure_id">{{ registration.procedure_name }}</span>
                  <span v-else>Нажмите, чтобы выбрать Процэдурц</span>
                </button>
            </b-field>

           

            <b-field label="Комментарий" :message="errors.collect('comment')">
                <b-input
                    type="textprocedure"
                    rows="1"
                    v-model="registration.comment"
                    data-vv-name="comment">
                </b-input>
            </b-field>
            <b-field>
                    <span>&nbsp;</span>
            </b-field>
            <b-field>
 <span>&nbsp;</span>
            </b-field>
            <b-field>
 <span>&nbsp;</span>
            </b-field>
            
            <!-- <div style="color: red" v-show="status.error" >
                 *{{ status.error }}
            </div> -->
          </b-tab-item>
         
        </b-tabs>
      </section>
     
      <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeDialog">Закрыть</button>
          <span v-if="activeTab == 0">
           
            <button class="button is-info" @click="saveRegistration(registration)">Сохранить</button>
            <button v-if="editting && registration.status_code == 0" class="button is-warning" type="button" @click="restoreRegistration(registration)">Восстановить</button>
             
          </span>
         
      </footer>
  </div>
 </b-modal>
 
 
</template>

 

  
<script>
import { mapGetters } from "vuex";
import { Printd } from "printd";
import axios from "~/plugins/axios";

export default {
  data() {
    const today = new Date();
    return {
      activeTab: 0,
      date: new Date(),
   
      minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()),
      monthNames: [
        "Январь",
        "Февраль",
        "Март",
        "Апрель",
        "Май",
        "Июнь",
        "Июль",
        "Август",
        "Сентябрь",
        "Октябрь",
        "Ноябрь",
        "Декабрь"
      ],
      dayNames: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
      rawHtml: "",
      product: "",
     
    };
  },
  computed: {
    ...mapGetters({
      registration: "registrations/registration",
      
      editting: "registrations/editting",
     
    }),
    addRegistration: {
      get: function() {
        return this.$store.state.registrations.addRegistration;
      },
      set: function(value) {
        this.activeTab = 0;
        this.$store.dispatch("registrations/toggleAddRegistration");
      }
    },
    selected: {
      get() {
      
      },
      set(optionValue) {
        // console.log(optionValue)
        this.$store.dispatch("templates/toggleViewTemplate", optionValue);
      }
    }
  },
  mounted() {
   
  },
  methods: {
    
    changedate() {
      this.minDate = new Date(
        registration.metadata.start_date.getFullYear(),
        registration.metadata.start_date.getMonth(),
        registration.metadata.start_date.getDate()
      );
    },
    closeDialog() {
      this.$validator.reset();
      this.$store.dispatch("registrations/toggleAddRegistration");
    },
    async saveRegistration(registration) {
  
      

      if (!this.registration.doctor_id) {
        this.errors.remove("doctor_id");
        this.errors.add({ field: "doctor_id", msg: "Выберите Доктора." });
      }

      await this.$validator.validateAll();

      if (this.$store.state.registrations.editting) {
        if (!this.errors.any()) {
          this.$store.dispatch("registrations/editRegistration", registration);
        }
      } else {
        if (!this.errors.any()) {
          this.$store.dispatch("registrations/addRegistration", registration);

          var message = "НОВАЯ РЕГИСТРАЦЫЯ ";
          //  console.log(registration)
         
      
          location.reload();
        }
      }
    },
    
    
    selectDoctor(doctor_id) {
      this.$store.dispatch("doctors/toggleListDoctor");
    },
    selectProcedure(procedure_id) {
      this.$store.dispatch("procedures/toggleListProcedure");
    },
    
    
  },

  components: {
  
    
  }
};
</script>
<style>
</style>
