<template>
 <b-modal :active.sync="addUser" :canCancel="['x', 'outside']" :width='"100%"' :height='"100%"'>
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">{{ editting ? 'Редактирование ' : 'Добавление' }} пользователя</p>
      </header>
      <section class="modal-card-body">

          <b-field label="Логин" :message="errors.collect('username')" :type="(errors.has('username') ? 'is-danger' : '')" >
              <b-input
                  type="text"
                  v-model="user.username"
                  v-validate="'required'" data-vv-name="username" data-vv-as="Логин">
              </b-input>
          </b-field>
          <b-field grouped>
            <b-field label="Пароль" message="(Заполнить для изменения/установки пароля)" :type="(errors.has('password') ? 'is-danger' : '')">
                <b-input
                    type="password"
                    password-reveal
                    v-model="user.password"
                    v-validate="(!editting) ? 'required' : ''" data-vv-name="password" data-vv-as="Пароль">
                </b-input>
            </b-field>
            <b-field label="Подтверждение пароля" :message="errors.collect('password')" :type="(errors.has('password') ? 'is-danger' : '')">
                <b-input
                    type="password"
                    password-reveal
                    v-model="user.confirm_password"
                    v-validate="(!editting) ? 'required' : ''" data-vv-name="confirm_password" data-vv-as="Подтверждение пароля">
                </b-input>
            </b-field>
          </b-field>
           <b-field grouped>
            
             
            </b-field>
            
          
          <b-field label="E-Mail" :message="errors.collect('email')" :type="(errors.has('email') ? 'is-danger' : '')" >
              <b-input 
                  type="email"
                  v-model="user.email"
                  v-validate="'required'"
                  data-vv-name="email" data-vv-as="E-Mail">
              </b-input>
          </b-field>
          <b-field label="Телефон" :message="errors.collect('phone')" :type="(errors.has('phone') ? 'is-danger' : '')" >
              <b-input
                  type="text"
                  v-model="user.phone"
                  v-validate="'required'" data-vv-name="phone" data-vv-as="Телефон">
              </b-input>
          </b-field>

          <div style="color: red" v-show="status.error" >
               *{{ status.error }}
          </div>
      </section>
      <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeDialog">Закрыть</button>
          <button v-if="!status.loading" class="button is-info" @click="saveUser(user)" >Сохранить</button>
          <button v-else class="button is-info is-loading" @click="saveUser(user)" disabled>Сохранить</button>
      </footer>
  </div>
 </b-modal>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "~/plugins/axios";
const data = [];

axios
  
export default {
  data() {
    return { data };
  },
  computed: {
    ...mapGetters({
      user: "users/user",
      status: "users/status",
      editting: "users/editting"
    }),
    addUser: {
      get: function() {
        return this.$store.state.users.addUser;
      },
      set: function(value) {
        this.$store.dispatch("users/toggleAddUser");
      }
    }
  },
  methods: {
    closeDialog() {
      this.$validator.reset();
      this.$store.dispatch("users/toggleAddUser");
    },
    async saveUser(user) {
      await this.$validator.validateAll();
      if (this.$store.state.users.editting) {
        if (!this.errors.any()) {
          this.$store.dispatch("users/editUser", user);
        }
      } else {
        if (!this.errors.any()) {
          this.$store.dispatch("users/addUser", user);
        }
      }
    }
  }
};
</script>
<style>
.modal-container {
  display: inline-block;
  width: 90%;
}
.modal-content,
.modal-card {
  margin: 0 auto;
  max-height: calc(100vh - 40px);
  width: 90%;
}
.input,
.taginput .taginput-container.is-focusable,
.textarea {
  width: 300px;
  min-width: 300px;
}
</style>