<template>
 <b-modal :active.sync="listDoctor" :canCancel="['x', 'outside']" :width='"100%"' :height='"100%"'>
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">Доктора</p>
      </header>
      <section class="modal-card-body" >
          <a class="button is-info" @click="addNewDoctor">Добавить Доктора</a>
          <b-table :data="$store.state.doctors.list" @click="selectDoctor" :row-class="onRowClass">
            <template slot-scope="props">
                <b-table-column field="first_name" label="Имя">
                    {{ props.row.first_name }}
                </b-table-column>
                <b-table-column field="last_name" label="Фамилия">
                    {{ props.row.last_name }}
                </b-table-column>
                <b-table-column field="email" label="E-mail">
                    {{ props.row.email }}
                </b-table-column>
                <b-table-column field="phone" label="Телефон">
                    {{ props.row.phone }}
                </b-table-column>
                <b-table-column field="created_at" label="Дата создания" centered>
                    {{ new Date(props.row.created_at).toLocaleDateString()}}
                </b-table-column>
                <b-table-column field="actions" width="80" label="" numeric><!--v-if="!$store.state.registrations.addRegistration" -->
                  <span>
                    <a @click="editDoctor(props.row)" class="m-sm has-text-grey-light"><b-icon pack="fas" icon="edit" size="is-small"></b-icon></a>
                    <a @click="removeDoctor(props.row)" class="has-text-grey-light"><b-icon pack="fas" icon="trash" size="is-small"></b-icon></a>
                  </span>
                </b-table-column>
            </template>
            <template slot="empty">
              <div class="content has-text-grey has-text-centered">
                  <b-icon
                      icon="emoticon-sad"
                      size="is-large">
                  </b-icon>
                  <br>
                  Нет записей.
              </div>
            </template>
          </b-table>
      </section>
  </div>
 </b-modal>
</template>

<script>
export default {
  computed: {
    listDoctor: {
      get: function () {
        return this.$store.state.doctors.listDoctor
      },
      set: function (value) {
        this.$store.dispatch('doctors/toggleListDoctor')
      }
    }
  },
  methods: {
    closeDialog () {
      this.$validator.reset()
      this.$store.dispatch('doctors/toggleListDoctor')
    },
    addNewDoctor () {
      this.$store.dispatch('doctors/toggleAddDoctor')
    },
    editDoctor (doctor) {
      this.$store.dispatch('doctors/setDoctor', doctor)
      this.$store.dispatch('doctors/toggleEditting', true)
      this.$store.dispatch('doctors/toggleAddDoctor')
    },
    removeDoctor (doctor) {
      this.$dialog.confirm({
          type: 'is-warning',
          message: 'Удалить ' + doctor.first_name + ' ' + doctor.last_name + '?',
          onConfirm: () => this.$store.dispatch('doctors/removeDoctor', doctor)
      })
    },
    selectDoctor (doctor) {
      if (this.$store.state.registrations.addRegistration) {
        this.closeDialog()
        this.$store.state.registrations.registration.doctor_id = doctor.id
        this.$store.state.registrations.registration.doctor_name = doctor.first_name + ' ' + doctor.last_name
        this.$store.state.registrations.registration.doctor_phone = doctor.phone
      }
    },
    onRowClass(row, index) {
      if (this.$store.state.registrations.addRegistration)
        return 'cur-hand'
      else return ''
    }
  }
}
</script>
