<template>
 <b-modal :active.sync="listProcedure" :canCancel="['x', 'outside']" :width='"100%"' :height='"100%"'>
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">Процэдуры</p>
      </header>
      <section class="modal-card-body">
          <a class="button is-info" @click="addNewProcedure">Добавить Процэдуру</a>
          <b-table :data="$store.state.procedures.list" @click="selectProcedure" :row-class="onRowClass">
            <template slot-scope="props">
                <b-table-column field="name" label="Наименование">
                    {{ props.row.name }}
                </b-table-column>
                <b-table-column field="comment" label="Коментарий">
                    {{ props.row.comment }}
                </b-table-column>
                <b-table-column v-if="!$store.state.registrations.addRegistration" field="actions" width="80" label="" numeric>
                  <span>
                    <a @click="editProcedure(props.row)" class="m-sm has-text-grey-light"><b-icon pack="fas" icon="edit" size="is-small"></b-icon></a>
                    <a @click="removeProcedure(props.row)" class="has-text-grey-light"><b-icon pack="fas" icon="trash" size="is-small"></b-icon></a>
                  </span>
                </b-table-column>
            </template>
            <template slot="empty">
              <div class="content has-text-grey has-text-centered">
                  <b-icon
                      icon="emoticon-sad"
                      size="is-large">
                  </b-icon>
                  <br>
                  Нет записей.
              </div>
            </template>
          </b-table>
      </section>
  </div>
 </b-modal>
</template>

<script>

export default {
  computed: {
    listProcedure: {
      get: function () {
        return this.$store.state.procedures.listProcedure
      },
      set: function (value) {
        this.$store.dispatch('procedures/toggleListProcedure')
      }
    }
  },
  methods: {
    closeDialog () {
      this.$validator.reset()
      this.$store.dispatch('procedures/toggleListProcedure')
    },
    addNewProcedure () {
      this.$store.dispatch('procedures/toggleAddProcedure')
    },
    editProcedure (procedure) {
      this.$store.dispatch('procedures/setProcedure', procedure)
      this.$store.dispatch('procedures/toggleEditting', true)
      this.$store.dispatch('procedures/toggleAddProcedure')
    },
    removeProcedure (procedure) {
      this.$dialog.confirm({
          type: 'is-warning',
          message: 'Удалить процэдуру "' + procedure.name + '" ?',
          onConfirm: () => this.$store.dispatch('procedures/removeProcedure', procedure)
      })
    },
    selectProcedure (procedure) {
      if (this.$store.state.registrations.addRegistration) {
        this.closeDialog()
        this.$store.state.registrations.registration.procedure_id = procedure.id
        this.$store.state.registrations.registration.procedure_name = procedure.name
      }
    },
    onRowClass(row, index) {
      if (this.$store.state.registrations.addRegistration)
        return 'cur-hand'
      else return ''
    }
  },
}
</script>
