<template>
 <b-modal :active.sync="listUser" :canCancel="['x', 'outside']" :width='"100%"' :height='"100%"'>
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">Пользователи</p>
      </header>
      <section class="modal-card-body">
          <a class="button is-info" @click="addNewUser">Добавить пользователя</a>
          <b-table :data="$store.state.users.list" >
            <template slot-scope="props">
                <b-table-column field="first_name" label="Логин">
                    {{ props.row.username }}
                </b-table-column>
                <b-table-column field="email" label="E-mail">
                    {{ props.row.email }}
                </b-table-column>
                <b-table-column field="phone" label="Телефон">
                    {{ props.row.phone }}
                </b-table-column>
                <b-table-column field="created_at" label="Дата создания" centered>
                    {{ new Date(props.row.created_at).toLocaleDateString() }}
                </b-table-column>
                <b-table-column field="actions" width="80" label="" numeric>
                  <span>
                    <a @click="editUser(props.row)" class="m-sm has-text-grey-light"><b-icon pack="fas" icon="edit" size="is-small"></b-icon></a>
                    <a @click="removeUser(props.row)" class="has-text-grey-light"><b-icon pack="fas" icon="trash" size="is-small"></b-icon></a>
                  </span>
                </b-table-column>
            </template>
            <template slot="empty">
              <div class="content has-text-grey has-text-centered">
                  <b-icon
                      icon="emoticon-sad"
                      size="is-large">
                  </b-icon>
                  <br>
                  Нет записей.
              </div>
            </template>
          </b-table>
      </section>
  </div>
 </b-modal>
</template>

<script>
export default {
  computed: {
    listUser: {
      get: function () {
        return this.$store.state.users.listUser
      },
      set: function (value) {
        this.$store.dispatch('users/toggleListUser')
      }
    }
  },
  methods: {
    closeDialog () {
      this.$validator.reset()
      this.$store.dispatch('users/toggleListUser')
    },
    addNewUser () {
      this.$store.dispatch('users/toggleAddUser')
    },
    editUser (user) {
      this.$store.dispatch('users/setUser', user)
      this.$store.dispatch('users/toggleEditting', true)
      this.$store.dispatch('users/toggleAddUser')
    },
    removeUser (user) {
      this.$dialog.confirm({
          type: 'is-warning',
          message: 'Удалить ' + user.username + '?',
          onConfirm: () => this.$store.dispatch('users/removeUser', user)
      })
    },
  }
}
</script>
<style>
.modal-container{
    display:inline-block;
    width:90%;
    height: 90%;
}
.modal-content, .modal-card{
      margin: 0 auto;
    max-height: calc(100vh - 40px);
    width:90%;
     height: 90%;
}
.dialog .modal-card{
   height: 150px;
}
</style>