<template>
  <div>
    <section class="hero is-fullheight">
      <div class="hero-head">
        <header class="navbar has-background-link is-link" v-if="$auth.$state.loggedIn">
          <div class="container">
         
            <div class="navbar-menu">
              <div class="navbar-start">
                <div class="navbar-item">
                  <a class="button is-info" @click="addNewRegistration">Добавить Ригистрацыю</a>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link has-text-white">Справочники</a>
                  <div class="navbar-dropdown">
                    <a @click="listDoctors" class="navbar-item">Доктора</a>
                    <a @click="listProcedures" class="navbar-item">Процэдуры</a>
                    <hr class="navbar-divider">
                    <a @click="listUsers" class="navbar-item">Пользователи</a>
                  
                    
                    
                  </div>
                </div>
               
              </div>
              <div class="navbar-end">
                <div class="navbar-item has-dropdow is-hoverable">
                  <a class="navbar-link has-text-white">{{ $auth.user.name }}</a>
                  <div class="navbar-dropdown">
                    <a @click="$auth.logout()" class="navbar-item">Выход</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="hero-body">
        <div class="container is-fluid">
          <nuxt />
        </div>
      </div>
    </section>

  
  </div>
</template>


<script>

export default  {
  methods: {
      addNewRegistration () {
        this.$store.dispatch('registrations/toggleAddRegistration')
      },
      listDoctors () {
        this.$store.dispatch('doctors/toggleListDoctor')
      },
      listProcedures () {
        this.$store.dispatch('procedures/toggleListProcedure')
      },
     
      listUsers () {
        this.$store.dispatch('users/toggleListUser')
      },
    

  },
  mounted () {
    var dropdown = document.querySelector('.has-dropdown:not(.is-hoverable)');
    if (dropdown) {
      dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
      });
    }
  }
}

</script>

<style lang="css" scoped>
  .content-section {
    background-image: url('/background.jpg');
  }
  .hero-body .container {
    margin-bottom: auto;
  }
</style>
