<template>
  <div>
    <template v-if="$auth.$state.loggedIn">
      <div class="columns">
        <div class="column">
          <b-field label="Поиск:" horizontal>
            <b-input v-model="search_query.name" size="is-small" /><br>
            <b-select v-model="search_query.procedures" placeholder="Выберите процедуру..." size="is-small"><option value="">Все</option><option v-for="procedure in procedures" :key="procedure.id" :value="procedure.id">{{ procedure.name }}</option></b-select>
      
          </b-field>
          <b-table :data="filter" narrowed hoverable paginated per-page="10" pagination-simple detailed detail-key="id" @click="editRegistration" :row-class="rowClass">
            <template slot-scope="props">
                <b-table-column field="id" label="#" width="20" centered>
                    {{ props.row.id }}
                </b-table-column>
                <b-table-column field="doctor_name" label="Доктор">
                    {{ props.row.doctor_name }}
                </b-table-column>
                <b-table-column field="doctor_phone" label="Телефон">
                    {{ props.row.doctor_phone }}
                </b-table-column>
                <b-table-column field="start" label="Дата начала" width="140" centered>
                    {{ new Date(props.row.start).toLocaleString('ru', { day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }) }}
                </b-table-column>
                <b-table-column field="procedure_name" label="Процэдура">
                    {{ props.row.procedure_name }}
                </b-table-column>
              

            </template>
            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="columns">
                            <div class="column">
                                <small>доктор: </small><strong>{{ props.row.doctor_name }}</strong>
                                <span v-show="props.row.doctor_email">
                                  <br><small>E-Mail:</small> {{ props.row.doctor_email }}
                                </span>
                                <span v-show="props.row.doctor_phone">
                                  <br><small>Телефон:</small> {{ props.row.doctor_phone }}
                                </span>
                                
                            </div>
                            <div class="column">
                              <small>Дата создания: </small>{{ new Date(props.row.created_at).toLocaleDateString() }}
                              <br><small>Начало: </small>{{ new Date(props.row.start).toLocaleString('ru', { day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }) }}
                              <br><small>Окончание: </small>{{ new Date(props.row.end).toLocaleString('ru', { day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }) }}
                            </div>
                        </div>
                    </div>
                </article>
            </template>
            <template slot="empty">
              <div class="content has-text-grey has-text-centered">
                  <b-icon
                      icon="emoticon-sad"
                      size="is-large">
                  </b-icon>
                  <br>
                  Нет записей.
              </div>
            </template>

          </b-table>
        </div>
        <div class="column is-half">
          <no-ssr>
            <full-calendar ref="calendar" :event-sources="eventSources" @event-selected="eventSelected" @event-drop="eventDrop" :config="config"></full-calendar>
          </no-ssr>
        </div>
      </div>
    </template>
    <AddRegistration />
    <Doctors />
    <AddDoctor />
    <Procedures />
    <AddProcedure />
   
    <Users />
    <AddUser />
   
  
  </div>
</template>

<script>
import moment from "moment";
import axios from "~/plugins/axios";
import { mapGetters } from "vuex";
import _ from "lodash";
import AddRegistration from "~/components/AddRegistration.vue";
import AddDoctor from "~/components/AddDoctor.vue";
import Doctors from "~/components/Doctors.vue";
import Procedures from "~/components/Procedures.vue";
import AddProcedure from "~/components/AddProcedure.vue";
import AddUser from "~/components/AddUser.vue";
import Users from "~/components/Users.vue";

export default {
  data() {
    return {
      data: this.$store.state.registrations.list,
      procedures: this.$store.state.procedures.list,
    
      search_query: {
        name: "",
        procedures: null,
        
      },
      config: {
        defaultView: "month",
        height: 500,
        aspectRatio: 2,
        timeFormat: "HH:mm",
        timezone: "local",
        eventClick: event => {
          this.selected = event;
          this.editRegistration(this.selected.id);
        }
      },
      selected: {}
    };
  },
  methods: {
    refreshEvents() {
      this.$refs.calendar.$emit("refetch-events");
      this.$refs.calendar.$emit("refetch-events");
    },
    removeEvent() {
      this.$refs.calendar.$emit("remove-event", this.selected);
      this.selected = {};
    },
    eventSelected(event) {
      //this.selected = event;
    },
    eventDrop(event) {
      const registration = {
        id: event.id,
        doctor_id: event.doctor_id,
        procedure_id: event.procedure_id,
        count_person: event.count_person,
        comment: event.comment,
        metadata: {
          start_date: moment(event.start).toDate(),
          start_time: moment(event.start).toDate(),
          end_date: moment(event.end).toDate(),
          end_time: moment(event.end).toDate()
        }
      };
      this.data = this.$store.state.registrations.list;
      this.$store.dispatch("registrations/editRegistration", registration);
      this.data = this.$store.state.registrations.list;
      this.$store.dispatch("registrations/editRegistration", registration);
      location.reload();
    },
    addNewRegistration() {
      this.$store.dispatch("registrations/toggleAddRegistration");
    },
    editRegistration(registration) {
      if (!isNaN(registration))
        registration = _.find(this.$store.state.registrations.list, { id: registration });

      registration.metadata = {
        start_date: moment(registration.start).toDate(),
        start_time: moment(registration.start).toDate(),
        end_date: moment(registration.end).toDate(),
        end_time: moment(registration.end).toDate()
      };
      this.$store.dispatch("registrations/setRegistration", registration);
      this.$store.dispatch("registrations/toggleEditting", true);
      this.$store.dispatch("registrations/toggleAddRegistration");
      
    
    },
    deleteRegistration(registration) {
      this.$store.dispatch("registrations/deleteRegistration", registration);
    },
    rowClass() {
      return "cur-hand";
    }
  },
  asyncComputed: {
    eventSources() {
      const self = this;
      return [
        {
          events(start, end, timezone, callback) {
         

            callback(self.$store.state.registrations.list);
          }
         
        }
      ];
    }
  },
  computed: {
  
    filter: function() {
      var data = this.data;
      if (
        this.search_query.name != "" ||
        this.search_query.procedures > 0
      
      ) {
        data = [];
        var name_re = new RegExp(this.search_query.name, "i");
        for (var i in this.data) {
          var start_d = new Date(this.data[i].start).toLocaleString("ru", {
            day: "numeric",
            month: "numeric",
            year: "numeric",
            hour: "numeric",
            minute: "numeric"
          });
          if (
            (this.search_query.name != "" &&
              (this.data[i].doctor_name.match(name_re) ||
                this.data[i].doctor_phone.match(name_re) ||
                start_d.match(name_re))) ||
            (this.search_query.procedures > 0 &&
              this.data[i].procedure_id == this.search_query.procedures) 
          ) {
            console.log(this.data[i].procedure_id + " = " + this.search_query.procedures);
            data.push(this.data[i]);
          }
        }
      }
      return data;
    }
  },
  components: {
    AddRegistration,
    Doctors,
    AddDoctor,
    Procedures,
    AddProcedure,
   
    Users,
    AddUser,
  }
};
</script>
