<template>
<div>
  <div class="columns is-centered">
    <div class="column is-two-fifths">
        <h2 class="text-center">Авторизация</h2>
        <hr>
        <div v-if="error" class="notification is-danger"><button class="delete"></button>{{ error + '' }}</div>
        <div v-if="$auth.$state.redirect" class="notification is-warning"><button class="delete"></button>Вы должны авторизоваться для доступа к странице: <strong>{{ $auth.$state.redirect }}</strong></div>
        <busy-overlay />
        <form @keydown.enter="login">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Логин" v-model="username" autofocus>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Пароль" v-model="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button type="button" @click="login" class="button is-primary">Вход</button>
            </p>
          </div>
        </form>
    </div>
  </div>
</div>
</template>

<script>
import busyOverlay from '~/components/busy-overlay'

export default {
  middleware: ['auth'],
  components: { busyOverlay },
  data() {
    return {
      username: '',
      password: '',
      error: null
    }
  },
  computed: {
    redirect() {
      return (
        this.$route.query.redirect &&
        decodeURIComponent(this.$route.query.redirect)
      )
    },
    isCallback() {
      return Boolean(this.$route.query.callback)
    }
  },
  methods: {
    async login() {
      this.error = null

      return this.$auth
        .loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        })
        .then(response => {
          this.$store.dispatch('registrations/loadRegistrations')
        })
        .catch(e => {
          this.error = e.response.data.message
        })
    }
  }
}
</script>
